.asideContainer {
  background: var(--gray-800);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.coverContainer {
  height: 4.5rem;
  width: 100%;
  background-image: url("../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 0.5rem 0.5rem 0 0;
}

.avatarContainer {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  border: 2px solid var(--green-300);
  background: var(--gray-800);
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarContainer img {
  border-radius: 0.5rem;
}

.asideContainer strong {
  display: inline-block;
  margin-top: 1rem;
  color: var(--gray-100);
}

.asideContainer span {
  color: var(--gray-400);
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.asideContainer footer {
  border-top: 1px solid var(--gray-600);
  padding: 1.5rem 2rem 2rem 2rem;
  width: 100%;
}

.asideContainer footer a {
  border-radius: 0.5rem;
  border: 1px solid var(--green-300);
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  color: var(--green-300);
  padding: 1rem 1.3125rem;
}
